body{
    font-family:Optima;
    font-style:normal;
}

.header{
    text-align: center;
}

.h1,h2,h3,h4{
    text-align: center;
}

p{
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 5px; 
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
}

h2{
    border: 2px solid #2a5298;
    color: #1e3c72;
}

h3{
    color: #1e3c72;
    background-color:  #b3d9ff;
}

.header {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    color: white;
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

hr {
    border: none;
    border-top: 3px solid #2a5298;
    margin: 40px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* the hover effecr */
.plot:hover {
    background-color: rgb(248, 203, 211); 
    padding: 20px;
    margin: 20px;
}

/* style of the button */
button {
    background-color: #2a5298;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 20px;
}